<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBDnJkxZ3-YuZz-sB2cbg5uRzwnRGPy_vk</string>
	<key>GCM_SENDER_ID</key>
	<string>379321968808</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.toDoAppUsingRestApi.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>dream-fashion-store</string>
	<key>STORAGE_BUCKET</key>
	<string>dream-fashion-store.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:379321968808:ios:972f09205e4d3d8d447a9d</string>
</dict>
</plist>